
.inner{
  width: 1000px;
  height:90%;
  background-color: gray;
  position: absolute;
  display:block;
  left:0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}

img{
padding-top: 5%;
display:block;
margin:auto;
  width: 150px;
height:150px;
}
a{
display:block;
font-style: oblique;
color:purple;
text-align:center;
}
h1{
color:white;
text-align:center;
}
h2{
color:white;
text-align:center;
font-size: 15px;
font-style: italic;

}
body{
  font-size: 1rem  ;
}
p{
padding-left: 3%;
padding-right: 3%;
color:white;
text-align:left;
font-family: "Times New Roman", Times, serif;
}
